.align-horizontal-center-1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*
1em = 16px

*/
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  color: #000;
}
.home__info-container {
  width: fit-content;
  margin-top: 7rem;
  text-align: center;
}
.home__username {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 2rem;
}
.home__location {
  font-size: 1.6rem;
}
.home__status {
  font-size: 1.6rem;
  color: #b1b1b1;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 900;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 75em) {
  .profile {
    width: 80%;
  }
}
.profile__post {
  display: flex;
  flex-direction: column;
  margin: 1.3rem;
}
.profile__post-info {
  display: flex;
}
.profile__post-info-dp {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
@media (min-width: 75em) {
  .profile__post-info-dp {
    width: 5rem;
    height: 5rem;
  }
}
.profile__post-info-data {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.profile__post-info-data-group {
  font-size: 1.2rem;
}
@media (min-width: 75em) {
  .profile__post-info-data-group {
    font-size: 1.5rem;
  }
}
.profile__post-info-data-postedAt {
  font-size: 1rem;
  margin-top: -0.5rem;
  color: #b1b1b1;
}
@media (min-width: 75em) {
  .profile__post-info-data-postedAt {
    font-size: 1.1rem;
  }
}
.profile__post-content {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.2px;
  margin: 1.3rem 0;
}
.profile__post-content-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 700;
}
.profile__post-content-description {
  font-size: 1.4rem;
}
.profile__post-content-image {
  width: 90%;
  align-self: center;
  margin-top: 1rem;
}
@media (min-width: 37.5em) {
  .profile__post-content-image {
    width: 80%;
  }
}
@media (min-width: 75em) {
  .profile__post-content-image {
    width: 60%;
  }
}
.profile__post-reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__post-reactions-1 * {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.5rem;
}
.profile__post-reactions-2-share {
  width: 1.8rem;
  height: 1.8rem;
}

.header {
  position: relative;
  height: 20vh;
  width: 100%;
}
.header__profile-photo {
  bottom: -7rem;
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
}
.header__dm-symbol {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.tabs {
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
  width: 100%;
  margin: 2rem 0;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  color: #DBD4D4;
}
.tabs__feed, .tabs__profile, .tabs__explore, .tabs__friends, .tabs__groups {
  width: 100%;
  height: 3.1rem;
}
.tabs__feed:hover, .tabs__profile:hover, .tabs__explore:hover, .tabs__friends:hover, .tabs__groups:hover {
  cursor: pointer;
  background-color: #DBD4D4;
  color: #fff;
}
.tabs__left-symbol, .tabs__right-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DBD4D4;
  height: 3.1rem;
}
.tabs__left-symbol:hover, .tabs__right-symbol:hover {
  cursor: pointer;
  background-color: #DBD4D4;
  color: #000;
}

.divider {
  width: 98%;
  height: 0.1rem;
  background-color: #d9d9d9;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}
@media (min-width: 37.5em) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 56.25em) {
  html {
    font-size: 75%;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 87.5;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #fff;
  letter-spacing: 2px;
}

/*# sourceMappingURL=index.css.map */
