//SASS for tabs
.tabs {
    display: grid;
    grid-template-columns: .5fr 3fr 3fr 3fr .5fr;
    width: 100%;
    margin: 2rem 0;
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    color: #DBD4D4;
    
    &__feed{
        width: 100%;
        height: 3.1rem;
        
       
        @include respond(desktop){

        }
    }

    &__profile{
        width: 100%;
        height: 3.1rem;

        @include respond(desktop){
            
        }
    }

    &__explore{
        width: 100%;
        height: 3.1rem;

        @include respond(desktop){

        }
    }

    &__left-symbol, &__right-symbol {
        color: #DBD4D4;
        height: 3.1rem;
        &:hover {
            cursor: pointer;
            background-color: #DBD4D4;
            color: #000;
        }
    }
}