.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  color: #000;

  &__info-container {
    width: fit-content;
    margin-top: 7rem;
    text-align: center;
  }

  &__username {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 2rem;
  }

  &__location {
    font-size: 1.6rem;
  }

  &__status {
    font-size: 1.6rem;
    color: #b1b1b1;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 900;
  }
}
