.profile {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond(desktop) {
    width: 80%;
  }
  //CSS for post container
  &__post {
    display: flex;
    flex-direction: column;
    margin: 3rem 1.3rem;
    background-color: #2cc0ff;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    //CSS for post information
    &-info {
      display: flex;
      //CSS for display picture
      &-dp {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        @include respond(desktop) {
          width: 5rem;
          height: 5rem;
        }
      }

      //CSS for post data - Group name and posted at time
      &-data {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        //CSS for group name
        &-group {
          font-size: 1.2rem;

          @include respond(desktop) {
            font-size: 1.5rem;
          }
        }

        //CSS for postedAt
        &-postedAt {
          font-size: 1rem;
          margin-top: -0.5rem;

          @include respond(desktop) {
            font-size: 1.1rem;
          }
        }
      }
    }

    //CSS for post content
    &-content {
      display: flex;
      flex-direction: column;
      letter-spacing: 0.2px;
      margin: 1.3rem 0;

      //CSS for post title
      &-title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: 700;
      }
      //CSS for post description
      &-description {
        font-size: 1.4rem;
      }

      &-image {
        width: 90%;
        align-self: center;
        margin-top: 1rem;

        @include respond(tab-port) {
          width: 80%;
        }

        @include respond(desktop) {
          width: 60%;
        }
      }
    }

    //CSS for post reactions
    &-reactions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //CSS for first reactions container (like, dislike, and comment)
      &-1 {
        & * {
          width: 1.8rem;
          height: 1.8rem;
          margin-right: 1.5rem;
        }
        &-like {
        }
      }
      //CSS for first reactions container
      &-2 {
        &-share {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }
}
