.btn {
  width: 10rem;
  height: 2.5rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
  background-color: #fff;
  box-shadow: $box-shadow-1;
  cursor: pointer;
}
